{% extends 'mk_base.html' %}

{% block post %}
<div class="post-container">
  <div class='post-bulletin-board'>
    <div class='post'>
      <a href="{% url 'create_interface' %}">新增商品</a>
    </div>
    {% for item in items %}
    <div class='post'>
      <div class='post-item-image'>
        {% load static %}
        <img src="{{item.image.url}}" alt="{{item.name}}">
      </div>
      <div class='post-item-text'>
        <p class="item-title">{{item.name}}</p>
        <div class='item-tag'>
          <p>NTD. {{item.price}}</p>
          <button class='love-item love-item-active'>&#10084;</button>
          <button class='buy-item buy-item-active'>&plus;</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock post %}

{% block preview %}
<div class="preview-container">
  <div class='preview-fixed-container'>
    <p class='new-item-title'>新增商品</p>
    <form action="{% url 'create' %}" method='post' enctype='multipart/form-data'>
      {% csrf_token %}
      <label>商品名稱
        <input type="text" id='new-item-name' name='name' required>
      </label>
      <label>出售價格
        <input type="number" id='new-item-price' name='price' required>
      </label>
      <label>商品數量
        <input type="text" id='new-item-quantity' name='quantity' required>
      </label>
      <label>商品分類
        <select name="category" id="new-item-category">
          <option value="衣物服飾">衣物服飾</option>
          <option value="鞋子">鞋子</option>
          <option value="電子設備">電子設備</option>
          <option value="其他物件">其他物件</option>
        </select>
      </label>
      <label>交易方式
        <select name="transcation_type" id="new-item-transcation-type">
          <option value="只限面交">只限面交</option>
          <option value="只限寄送">只限寄送</option>
          <option value="面交、寄送皆可">面交、寄送皆可</option>
        </select>
      </label>
      <label>面交地點
        <input type="text" id='new-item-transcation-location' name='transcation_location'>
      </label>
      <label>商品狀況
        <input type="text" id='new-item-condition' name='condition'>
      </label>
      <label class='new-item-input-image'>
        圖片上傳  
        <input type="file" id='new-item-image' name='image'>
        {% comment %} <input type="file" id='new-item-image' name='image2'> {% endcomment %}
      </label>
      <div class='new-item-btn-block'>
        <button type='submit' id='new-item-add' class='new-item-btn'>&plus;</button>
        <button type='button' id='new-item-cancel' class='new-item-btn'
          onclick="location.href='{% url 'user_interface' %}'">&times;</button>
      </div>
    </form>
  </div>
</div>
{% endblock preview %}


