{% extends 'mk_base.html' %}

{% block post %}
<div class="post-container">
  <div class='post-bulletin-board'>
    {% for item in items %}
    <div class='post'>
      <a href="">
        <div class='post-item-image'>
          {% load static %}
          <img src="{{ item.image.url }}" alt="{{item.name}}">
        </div>
        <div class='post-item-text'>
          <p class="item-title">{{item.name}}</p>
          <div class='item-tag'>
            <p>NTD. {{item.price}}</p>
            <a class='love-item'>&#10084;</a>
            {% if user.get_username == item.user %}
            <a class='buy-item' href="{% url 'remove_item' idx=item.idx %}">&minus;</a>
            {% else %}
            <a class='buy-item'>&plus;</a>
            {% endif %}
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock post %}

{% block preview %}
<div class="preview-container">
  <div class='preview-fixed-container'>
    <div class='t-item-description'>
      <div class='t-item-image'>
        {% load static %}
        <img src="{% static 'images/test.jpg' %}" alt="">
      </div>
      <div class='t-item-text'>
        <p class='t-item-title'>玻璃花瓶</p>
        <p>NTD. 150 | 2個
        </p>
        <P>交易方式</P>
        <P>商品狀況</P>
      </div>
    </div>
  </div>
</div>
{% endblock preview %}


