{% extends 'mk_base.html' %}

{% block post %}
<div class="post-container">
  <div class='post-bulletin-board'>
    {% if user_check == 'check' %}
    <div class='post create-post-div'>
      <a href="{% url 'create_interface' %}">新增商品</a>
    </div>
    {% endif %}
    {% for item in items %}
    <div class='post'>
      <a style="background: none;" href="{% url 'preview_item' idx=item.idx %}">
        <div class='post-item-image'>
          {% load static %}
          <img src="{{ item.image.url }}" alt="{{item.name}}">
        </div>
        <div class='post-item-text'>
          <p class="item-title">{{item.name}}</p>
          <div class='item-tag'>
            <p>NTD. {{item.price}}</p>

            {% if item.idx in love_items %}
            <a class='love-item-active' href="{% url 'love_item' idx=item.idx %}">&#10084;</a>
            {% else %}
            <a class='love-item' href="{% url 'love_item' idx=item.idx %}">&#10084;</a>
            {% endif %}
            
            {% if user.get_username == item.user %}
            <a class='buy-item' href="{% url 'remove_item' idx=item.idx %}">&minus;</a>
            {% else %}
            <a class='buy-item'>&plus;</a>
            {% endif %}
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock post %}

{% block preview %}
{% for item in items %}
{% if item.idx == previews %}
<div class="preview-container">
  <div class='preview-fixed-container'>
    <div class='preview-description'>
      <div class='t-item-row' id='t-item-slide'>
        <div class='t-item-col'>
          <div class='t-item-image'>
            <img src="{{ item.image.url }}" alt="{{item.name}}">
          </div>
        </div>

        <div class='t-item-col'>
          <div class='t-item-col-container'>
            <p class='t-item-title'>{{item.name}}</p>
            <div class='text-border'>
              <p>商品價格: NTD.{{item.price}}</p>
              <p>商品數量: {{item.quantity}}</p>
              <P>交易方式: {{item.transaction_type}}</P>
              {% if item.transaction_location %}
              <P>面交地點: {{item.transaction_location}}</P>
              {% endif %}
              <P>商品狀況: {{item.condition}}</P>
            </div>
          </div>
        </div>

        <div class='t-item-col'>
          <div class='t-item-col-container'>
            <p class='t-item-title'>留言版</p>
            <div class='text-border'>

              <div class='comments'>
                {% for comment in comments %}
                <p>{{ comment.username }} : {{ comment.contents }}</p>
                <p style="color: #e3e3e3">{{ comment.create_time|date:'Y.m.d H:i' }}</p>
                {% empty %}
                <p>目前還沒有留言</p>
                {% endfor %}
              </div>

              <form action="{% url 'comment' idx=item.idx %}" method="post" id='comment-form'>
                {% csrf_token %}
                <textarea name="comment" id="comment-input"></textarea>
                <button type='submit' id='comment-submit-button'>留言</button>
              </form>
            </div>
          </div>
        </div>

      </div>
      <div class="preview-indicator">
        <span class="preview-btn preview-btn-active"></span>
        <span class="preview-btn"></span>
        <span class="preview-btn"></span>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endblock preview %}
